:root {
  --mainC: #121212;
  --themeC: #4632ff;
  --secondaryThemeC: #5b5c5c;
}

.button2 {
  background-image: linear-gradient(to right, var(--secondaryThemeC) 0%, var(--themeC) 100%);
  border-radius: 12px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 80%;
}

.button2span {
  align-items: center;
  font-family: var(--secondaryFont);
  font-size: 1.6vw;
  background-color: var(--mainC);
  color: var(--themeC);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.button2:hover {
  background: radial-gradient(var(--themeC), var(--secondaryThemeC));
}

.button2:hover .button2span {
  color: var(--mainC);
  box-shadow: inset 10em 0 0 0 var(--blendedColor);
}

.button2:focus {
  background: radial-gradient(var(--themeC), var(--secondaryThemeC));
  outline: none;
}

.button2:focus .button2span {
  color: var(--mainC);
  box-shadow: inset 10em 0 0 0 var(--themeC);
}

@media screen and (max-width: 1000px) {
  .button2span {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .button2span {
    font-size: 20px;
  }
}


.button2 {
  background-image: linear-gradient(to right, var(--secondaryThemeC) 0%, var(--themeC) 100%);
  border-radius: 12px;
  box-sizing: border-box;
  display: block;
  height: 60px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 80%;
}

.button2:hover {
  background: radial-gradient(var(--themeC), var(--secondaryThemeC));
}