@import url(fontawesome-all.min.css);
@import url(font-awesome.min.css);

:root {
  --mainColor: #000000;
  --secondaryColor: #202020;
  --tertiaryColor: #b8b8b8;
  --quaternaryColor: dimgrey;
  --themeColor: #FF325A;
  --secondaryThemeColor: #FF6229;
  --blendedColor: #FF3854;
  --filterColor: -50deg;

  --mainTextColor: white;
  --secondaryTextColor: rgb(163, 163, 163);
  --mainFont: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --secondaryFont: "JetBrains Mono",monospace;
}

* {
  box-sizing: border-box;
  transition: .5s;
  outline: none;
}

html{
  padding: 0;
  margin: auto;
  font-family: var(--mainFont);
  background-color: black;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: auto;
  font-family: var(--mainFont);
  background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg.jpg");
  background-size: auto, auto, 100% auto;
	background-position: center, center, top center;
	background-repeat: repeat, no-repeat, no-repeat;
	background-attachment: scroll, scroll, scroll;
}
.icon {
  position: relative;
  top: 720px;
  text-align: center;
  padding: 5px;
}
i {
  color: white;
  font-size: 40px;
  margin: 5px
}
p {
  color: var(--mainTextColor)
}

h1 {
  font-size: 80px;
  color: var(--mainTextColor);
}
h2 {
  font-size: 65px;
  margin-bottom: 3%;
  color: var(--mainTextColor);
}

h3 {
  font: 35px;
  color: var(--secondaryTextColor);
}

p, li, span, label, input, textarea {
  color: var(--mainTextColor);
  font-size: x-large;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 2px;
  background: var(--themeColor) linear-gradient(to right, var(--secondaryThemeColor), var(--themeColor), var(--secondaryThemeColor));
  margin-top: 3%;
  margin-bottom: 3%;
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.greeting-section h1 {
  text-align: center;
}
.greeting-section h3 {
  text-align: center;
}

.portfolio-section {
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  overflow: auto;
  text-align: left;
}

.portfolio-div, .contact-div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 80px;
  align-items: center;
}

.portfolio-section a, .contact-section a {
  place-self: center;
}

.knowledge-section {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
  text-align: left;
}

.knowledge-div {
  align-items: center;
}

.contact-section {
  padding: 10%;
  overflow: auto;
  text-align: left;
}

.page-section {
  padding: 170px 10% 3%;
  overflow: auto;
  text-align: left;
}

.page-section h2 {
  font-size: 80px;
  margin-top: 0;
  margin-left: -4px;
  margin-bottom: 0;
}

.page-subtitle {
  color: var(--tertiaryColor);
  margin-top: 2%;
}

.subtitle {
  background: -webkit-linear-gradient(var(--secondaryThemeColor), var(--themeColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}

@media screen and (max-width: 1000px) {
  .portfolio-div, .contact-div {
    display: block;
  }

  .portfolio-section a, .contact-section a {
    width: 200px;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  h1 {
    font-size: 15vw;
  }
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: auto;
    font-family: var(--mainFont);
    background-image: none;
  }
  h2 {
    padding-top: 50px;
    font-size: 30px;
  }

  p {
    font-size: 6vw;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  }
  button, input[type="submit"]{
    background: transparent;
    color: inherit;
    border: transparent;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: transparent;
  }

  input[type="text"]{
    text-transform: lowercase;
  }
  .container{
    top: -400px;
    width: 300px;
    padding: 0px 0px;
    background: transparent;
    color: #fff;
    margin-top: 0;
  input, label {
    width: 100%;
    z-index: initial;
    position: inherit;
    display: inline;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid rgba(255, 57, 57, 0.6);
    background: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #fff;
    outline: none;
    -webkit-user-select: text;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
    label {
      padding: 0;
      background: none;
      border: none;
    
    input {
      display: flex;
      width: auto;
      padding: 0;
      margin: 0;
    }
    }
    button {
      display: flex;
      width: 100%;
      padding: 10px;
      font-weight: bold;
      background: #000000;
      border: none;
      box-shadow: 0 4px 5px rgba(254, 58, 58, 0.3);
      color: rgba(255,255,255,0.7);
      transition: all 0.15s ease;
      position: relative;
      top: 10px;
      &:hover {
      color: rgba(255,255,255,0.9);
      box-shadow: 0 6px 10px 2px rgba(255, 83, 83, 0.3);
        
      }
      &:active {
        top: 1px;
      }
    }
    p {
      text-align: right;
      a {
        color: rgba(255,255,255,0.7);
        font-size: .75rem;
        transition: all 0.15s ease;
        &:hover {
        color: white;
        }
      }
    }
  }
  .container-h1 {
    font-size: 25px;
  }

  form>.fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
  }
  
  form>.fields>.field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }